* {
     margin: 0;
     padding: 0;
}

body {
     font-family: 'Open Sans', sans-serif;
     font-size: 13px;
     line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: 'Lato', sans-serif;
}
h1{
     font-size: 2.25em;
}
h2{
     font-size: 1.875em;
}
h3{
     font-size: 1.5em;
}
h4{
     font-size: 1.125em;
}
h5{
     font-size: 0.875em;
}
h6{
     font-size: 0.75em;
}

a{
     text-decoration: none;
}
img{
     width: 100%;
}

/* Globales */
.container_centrado,
.header__container {
     width: 90%;
     max-width: 75em;
     margin: 0 auto;
}
.titulo_seccion{
     color: #4a4a4a;
     text-align: center;
     font-weight: 100;
     margin-bottom: 0.9375rem;
}
.boton{
     display: block;
     padding: 0.9375em;
     margin: 0.625em 0.625em;
     text-align: center;
     text-transform: uppercase;
     box-sizing: border-box;
}
.boton-naranja{
     color: white;
     background-color: #be8913;
}
.blog__testimonial{
     grid-area: blog__testimonio;
    
}
/* Header */
.grid-global{
     display: grid;
     grid-template-columns:(1fr);
     grid-template-areas: 
     "header"
     "nosotros"
     "depas"
     "encuentra"
     "blog__testimonio";
     gap: 1.25rem;
}
.header {
     grid-area: header;
     padding: 1.25em 0;
     height: 70vh;
     color: white;
     text-align: center;
     background-image: url('../img/header.jpg');
     background-position: center center;
     background-size: cover;
}
.header__container{
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.header__nav__logotipo h1{
     text-transform: uppercase;
     font-weight: 100;
     letter-spacing: 0.125em;
}
.header__nav__logotipo h1 span{
     font-weight: 800;
}
.header__nav__menu{
     margin-top: 0.625em;
}
.header__nav__menu a{
     display: block;
     padding: 0.3125em 0.625em;
     color: white;
}
.header__slogan h2{
     font-size: 2.5em;
     line-height: 2;
}
/* Sobre nosotros */
.sobre_nosotros{
     grid-area: nosotros;
}
.sobre_nosotros{
     text-align: center;
}
.sobre_nosotros_flex{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}
.icono{
     font-size: 6em;
     color: #e18b12;
     margin-bottom: 0.9375rem;
}
.cajaNosotros{
     padding-bottom: 1.25em;
}
.cajaNosotros:last-of-type{
     padding-bottom: 0;
}
.cajanosotros__contenido h3{
     margin-bottom: 0.9375rem;
}
.cajaNosotros p{
     line-height: 2;
}
/* Casas y depas en venta */
.casasDepas{
     grid-area: depas;
     text-align: center;
}
.casasDepas_flex{
     display: flex;
     flex-wrap: wrap;
}
.cajaDepas{
     background-color: #f5f5f5;
     border: 1px solid #bebebe;
     margin-bottom: 1.25rem;
}
.cajaDepas__contenido{
     padding: 0 0.625em;
     text-align: left;
     line-height: 2;
}
.precio{
     color: rgb(33, 190, 49);
}
.cajaDepas__especificaciones{
     display: flex;
     justify-content: space-evenly;
     padding: 0.625rem 0;
}
.icono-especificaciones{
     flex: 0 0 calc(33.3% -10px);
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.icono-especificaciones i{
     font-size: 1.875em;
     margin-right: 0.625rem;
}
/* Encuentra */
.encuentra{
     grid-area: encuentra;
     display: flex;
     align-items: center;
     background-image: url('../img/encuentra.jpg');
     background-position: center center;
     background-size: cover;
     color: white;
     line-height: 2;
}
.encuentra h1,
.encuentra p{
     margin-bottom: 1.25em;
}
/* Blog */
.blog{
     grid-area: blog;
     line-height: 2;
}

.cajaEntrada{
     padding: 0 0 1.25em 0;
}
.cajaEntrada__detalles__titulo::after{
     content: ' ';
     display: block;
     margin: 0.625em 0;
     width: 50%;
     height: 0.25em;
     background-color: green;
}
.fechaAutor span{
     color: orange;
}
/* Testimoniales */
.testimoniales{
     grid-area: testimonial;
}
.testimonios{
     padding: 1.25em 1.25em 1.25em 3.75em;
     background-color: green;
     border-radius: 0.625em;
     -webkit-border-radius: 0.625em;
     -moz-border-radius: 0.625em;
     -ms-border-radius: 0.625em;
     -o-border-radius: 0.625em;
}
.testimonio{
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     line-height: 3;
     font-weight: 100;
     color: white;
     position: relative;
}
.contenido-testimonio::before{
     content: ' ';
     background-image: url('../img/comilla.svg');   
     width: 3.125em;
     height: 3.125em;
     color: white;
     display: inline-block;
     position: absolute;
     left: -50px;
}
.testimonio__autor{
     font-weight: 800;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
     body{
          font-size: 14px;
     }
     .grid-global{
          grid-template-columns: repeat(5, 1fr);
          grid-template-areas: 
          "header header header header header"
          "nosotros nosotros nosotros nosotros nosotros"
          "depas depas depas depas depas"
          "encuentra encuentra encuentra encuentra encuentra"
          "blog__testimonio blog__testimonio blog__testimonio blog__testimonio blog__testimonio";
     }
     .blog__testimonial{
          grid-area: blog__testimonio;
     }
     .header__nav__menu{
          margin-top: 0;
     }
     .header__nav__menu a{
          display: inline-block;
     }
     .header__slogan{
          width: 37.5em;
          text-align: left;
     }
     /* Sobre nosotros */
     .cajaNosotros{
          flex: 0 0 calc(33.3% - 10px);
     }
     /* Casas y depas */
     .casasDepas_flex{
          justify-content: space-between;
     }
     .cajaDepas{
          flex: 0 0 calc(50% - 10px);
     }
     /* encuentra */
     .encuentra{
          height: 18.75em;
     }
     .encuentra__detalles .boton{
          display: inline-block
     }
     /* Blog */
     .blog{
          flex: 0 0 calc(60% - 10px);
     }
     .cajaEntrada{
          display: flex;
          justify-content: space-between;
     }
     .cajaEntrada__img{
          flex: 0 0 calc(40% - 10px);
     }
     .cajaEntrada__detalles{
          flex: 0 0 calc(60% - 10px);
     }
     /* Testimoniales */
     .testimoniales{
          flex: 0 0 calc(40% - 10px);
     }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
     .header__nav{
          display: flex;
          justify-content: space-between;
          align-items: center;
     }
     .cajaDepas{
          flex: 0 0 calc(33.3% - 10px);
     }
     .blog__testimonial{
          display: flex;
          justify-content: space-between;
     }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
     body{
          font-size: 16px;
     }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }