* {
     margin: 0;
     padding: 0;
}

body {
     font-family: 'Open Sans', sans-serif;
     font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: 'Lato', sans-serif;
}
h1{
     font-size: 2.25em;
}
h2{
     font-size: 1.875em;
}
h3{
     font-size: 1.5em;
}
h4{
     font-size: 1.125em;
}
h5{
     font-size: 0.875em;
}
h6{
     font-size: 0.75em;
}

a{
     text-decoration: none;
}

/* Globales */
.grid-global,
.container_centrado,
.header__container {
     width: 90%;
     max-width: 75em;
     margin: 0 auto;
}

/* Header */
.header {
     padding: 1.25em 0;
     height: 70vh;
     color: white;
     text-align: center;
     background-image: url('../img/header.jpg');
     background-position: center center;
     background-size: cover;
}
.header__container{
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.header__nav__logotipo h1{
     text-transform: uppercase;
     font-weight: 100;
     letter-spacing: 0.125em;
}
.header__nav__logotipo h1 span{
     font-weight: 800;
}
.header__nav__menu a{
     display: block;
     padding: 0.3125em 0.625em;
     color: white;
}
.header__slogan h2{
     line-height: 2;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
     body{
          font-size: 14px;
     }
     .header__nav{
          display: flex;
          justify-content: space-between;
          align-items: center;
     }
     .header__nav__menu a{
          display: inline-block;
     }
     .header__slogan{
          width: 31.25em;
          text-align: left;
     }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }