section.blogPagina.container_centrado
     h2.titulo_seccion Nuestro blog
     .entradas
          +cajaBlog('blog1.jpg','Terraza en el techo de tu casa','20/03/2020','Admin', '          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illo qui explicabo. Numquam ratione cupiditate at libero minus accusamus labore.')
          +cajaBlog('blog2.jpg','Guia para la decoración de tu hogar','19/12/2010','Juan', '          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illo qui explicabo. Numquam ratione cupiditate at libero minus accusamus labore.')
          +cajaBlog('blog3.jpg','Guia para la decoración de tu hogar','19/12/2010','Juan', '          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illo qui explicabo. Numquam ratione cupiditate at libero minus accusamus labore.')
          +cajaBlog('blog4.jpg','Guia para la decoración de tu hogar','19/12/2010','Juan', '          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illo qui explicabo. Numquam ratione cupiditate at libero minus accusamus labore.')
