section.casasDepas.container_centrado
     h2.titulo_seccion Casas y depas en venta
     .casasDepas_flex
          +cajaDepas("/img/anuncio1.jpg", titulosDepas[0], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, quod!","3,000,000", "3", "2", "2")
          +cajaDepas("/img/anuncio2.jpg", titulosDepas[1], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, quod!","5,000,000", "1", "3", "5")
          +cajaDepas("/img/anuncio3.jpg", titulosDepas[2], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, quod!","1,000,000", "2", "3", "2")
          