main.conoce
     h2.titulo_seccion Conoce mas sobre nosotros
     .conoce_flex.container_centrado
          .conoce__img
               img(src="img/nosotros.jpg", alt="Imagen nosotros")
          .conoce__detalles
               h3 25 años de experiencia
               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, officia? Non, eum. Adipisci, voluptatibus perspiciatis sapiente veniam aut temporibus culpa at unde saepe ratione, accusamus totam commodi eligendi quibusdam quaerat incidunt natus cumque atque itaque nulla aliquam dolor laborum neque! Error eaque quos sint consequatur neque blanditiis, veritatis corporis qui.
               p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio rem sequi minima aliquam debitis minus aliquid porro aperiam at necessitatibus officia corrupti fugiat maiores distinctio, ea pariatur voluptatum cupiditate dolorum laboriosam! Pariatur quia provident veritatis nihil voluptatem tenetur aliquid in officia alias nobis. Ipsam maiores cupiditate minus eaque veritatis hic!
