section.encuentra
     .encuentra__detalles.container_centrado
               h1 Encuentra la casa de tus sueños
               p llena el formulario de contacto y un asesor se pondra en contacto contigo a la brevedad
               a(href="#").boton.boton-naranja Contactanos