header.header
     .header__container
          .header__nav
               .header__nav__logotipo
                    include logotipo.pug
               .header__nav__menu 
                    include menuEnlaces.pug
          .header__slogan
               h2 Venta de casas y departamentos exclusivos de lujo



