include herramientas.pug
<!DOCTYPE html>
html(lang="es")
     include head.pug
     body
          .grid-global-nosotros
               include headerSecundario.pug
               include conoce.pug
               include sobre_nosotros.pug
               include footer.pug
               block contenido