include herramientas.pug
<!DOCTYPE html>
html(lang="es")
     include head.pug
     body
          .grid-global-contacto
               include headerSecundario.pug
               include formularioContacto.pug
               include footer.pug
               block contenido