section.sobre_nosotros.container_centrado
     h2.titulo_seccion Mas sobre nosotros
     .sobre_nosotros_flex
          +cajaNosotros("fas fa-lock", tituloNosotros[0], "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos sapiente aliquam reiciendis. Mollitia iure, quas voluptates voluptatibus accusantium aut quod!")
          +cajaNosotros("fas fa-coins", tituloNosotros[1], "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos sapiente aliquam reiciendis. Mollitia iure, quas voluptates voluptatibus accusantium aut quod!")
          +cajaNosotros("fas fa-clock", tituloNosotros[2], "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos sapiente aliquam reiciendis. Mollitia iure, quas voluptates voluptatibus accusantium aut quod!")
          